#!/bin/bash
wget https://tools.eu1.hana.ondemand.com/additional/sapjvm-8.1.096-linux-x64.rpm -O /tmp/sapjvm-8.1.095-linux-x64.rpm --header='Cookie: eula_3_1_agreed=tools.hana.ondemand.com/developer-license-3_1.txt'
sudo rpm -i /tmp/sapjvm-8.1.095-linux-x64.rpm
wget https://tools.eu1.hana.ondemand.com/additional/sapcc-${scc-version}-linux-x64.zip -O /tmp/sapcc-${scc-version}-linux-x64.zip --header='Cookie: eula_3_1_agreed=tools.hana.ondemand.com/developer-license-3_1.txt'
unzip /tmp/sapcc-${scc-version}-linux-x64.zip -d /tmp
sudo rpm -i /tmp/com.sap.scc-ui-${scc-version}*.rpm
sudo systemctl enable scc_daemon
sudo systemctl start scc_daemon