[submodule "aws-modules/saprouter"]
	path = aws-modules/saprouter
	url = https://github.com/randomstr1ng/tf-aws-saprouter.git
[submodule "aws-modules/sap-cloud-connector"]
	path = aws-modules/sap-cloud-connector
	url = https://github.com/randomstr1ng/tf-aws-sap-cloud-connector.git
[submodule "aws-modules/s4-hana"]
	path = aws-modules/s4-hana
	url = https://github.com/randomstr1ng/tf-aws-sap-s4-hana.git
